.bg-orange {
    background-color: #FF6A28;
}

.button-search {
    border: none;
}

.button-search:hover {
    background-color: #FFD700;
}

.buttons-header {
    width: 70%;
}

.border-buttons {
    border-radius: 50px;
}

.img-config {
    width: 50px;
    border-radius: 10%;
}

.opt-menu:hover{
    border-bottom: 2px solid #000;
    border-right: 1px solid #000;
}

@media only screen and (max-width: 600px) {
    .overflow-x {
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}